

@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ServiceID" />
    <label>Hizmet İkonu</label>
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <span class="text-danger" asp-validation-for="ServiceIcon"></span>
    <br />
     <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
     <span class="text-danger" asp-validation-for="Title"></span>
    <br />
     <label>Hizmet Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span class="text-danger" asp-validation-for="Description"></span>
    <br />
    
    <button class="btn btn-primary">Hizmet Ekle</button>
</form>